{{ define "main" }}

<content>
  {{ .Content }}

  <h2>Explore by ingredient</h2>

  <div>
    <small><b>alcohol</b></small>
    {{ range .Site.Taxonomies.alcohol }}
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> •
    {{ end }}
  </div>
  <br>

  <div>
    <small><b>mixers</b></small>
    {{ range .Site.Taxonomies.mixers }}
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> •
    {{ end }}
  </div>
  <br>

  <h2>Recipes by style</h2>
  {{ range $key, $taxonomy := .Site.Taxonomies.style }}
  <div>
    <small><b>{{ $key }}</b></small>
    {{ range $taxonomy.Pages }}
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> •
    {{ end }}
  </div>
  <br>
  {{ end }}

</content>
{{ end }}
